<h2>Edit Profile</h2>
<div>
  <div class="radio">
    <label
      ><input type="radio" [(ngModel)]="field" name="email" value="email" />Edit
      Email</label
    >
  </div>
  <div class="radio">
    <label
      ><input
        type="radio"
        [(ngModel)]="field"
        name="address"
        value="address"
      />Edit Address</label
    >
  </div>
  <div class="radio">
    <label
      ><input
        type="radio"
        [(ngModel)]="field"
        name="number"
        value="number"
      />Edit Mobile Number</label
    >
  </div>
</div>

<div *ngIf="field === 'email'">
  <form [formGroup]="editProfileForm">
    <div class="form-group">
      <label for="NewEmail">Enter New Email</label>
      <input
        type="text"
        formControlName="NewEmail"
        name="NewEmail"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"
      />
      <div *ngIf="submitted && f.NewEmail.errors" class="invalid-feedback">
        <div *ngIf="f.NewEmail.errors.required">*Email is required</div>
        <div *ngIf="f.NewEmail.errors.email">*Enter a valid email address</div>
      </div>
      <button
        [disabled]="loading"
        name="button"
        class="btn btn-primary button"
        (click)="UpdateEmail()"
      >
        Update
      </button>
    </div>
  </form>
</div>
<div *ngIf="field === 'address'">
  <form [formGroup]="editProfileForm">
    <div class="form-group">
      <label for="NewAddress">Enter New Address</label>
      <input
        type="text"
        formControlName="NewAddress"
        name="NewAddress"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.NewAddress.errors }"
      />
      <div *ngIf="submitted && f.NewAddress.errors" class="invalid-feedback">
        <div *ngIf="f.NewAddress.errors.required">*Address is required</div>
      </div>
      <button
        [disabled]="loading"
        name="button"
        class="btn btn-primary button"
        (click)="UpdateAddress()"
      >
        Update
      </button>
    </div>
  </form>
</div>
<div *ngIf="field === 'number'">
  <form [formGroup]="editProfileForm">
    <div class="form-group">
      <label for="NewMobileNumber">Enter New MobileNumber</label>
      <input
        type="text"
        formControlName="NewMobileNumber"
        name="NewMobileNumber"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.NewMobileNumber.errors }"
      />
      <div
        *ngIf="submitted && f.NewMobileNumber.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.NewMobileNumber.errors.required">
          *MobileNumber is required
        </div>
        <div *ngIf="f.NewMobileNumber.errors.minlength">
          *Enter a valid mobile number
        </div>
        <div *ngIf="f.NewMobileNumber.errors.maxlength">
          *Enter a valid mobile number
        </div>
      </div>
      <button
        [disabled]="loading"
        name="button"
        class="btn btn-primary button"
        (click)="UpdateNumber()"
      >
        Update
      </button>
    </div>
  </form>
</div>
