h2 {
  position: 86px;
  display: block;
  font-weight: 400;
  color: midnightblue;
  padding-left: 20px;
}

h3 {
  position: 86px;
  display: block;
  font-weight: 600;
  color: rgb(65, 5, 57);
}

li {
  font-weight: 400;
}

.btn-group button {
  font-size: 1em;
  background-color: #4cafa2;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  cursor: pointer;
  width: 10%;
  border: 1px solid rgb(6, 52, 66);
}

