<div class="container" *ngIf="Subjects">
  <h2> For {{Status}} semesters</h2>
  <ul *ngFor=" let Subject of Subjects" >
   <h3> Sem {{ Subject.Semester}} Subjects</h3>
    <li>{{ Subject.Subject1 }}</li>
    <li>{{ Subject.Subject2 }}</li>
    <li>{{ Subject.Subject3 }}</li>
    <li>{{ Subject.Subject4 }}</li>
    <li>{{ Subject.Lab1 }}</li>
    <li>{{ Subject.Lab2 }}</li>
  </ul>
</div>
<div class="btn-group">
<button class="btn btn-primary" (click)="back()">Back To Dashboard</button>
<button class="btn btn-primary" (click)="logout()">Logout</button>
</div>
