.form-group {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    position: relative;
    margin: auto;
    margin-top: 53px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  label {
    text-align: center;
    font-size: 1em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: bold;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
    text-align: center;
  }
  .btn {
    font-size: 1em;
    background-color: #4cafa2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  h2 {
    text-align: center;
    position: 86px;
    display: block;
    font-size: 4rem;
    font-weight: 400;
  }
  