<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="RollNo">Roll Number</label>
    <input
      type="number"
      formControlName="RollNo"
      id="login-RollNo"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.RollNo.errors }"
    />
    <div *ngIf="submitted && f.RollNo.errors" class="invalid-feedback">
      <div *ngIf="f.RollNo.errors.required">*RollNo is required</div>
    </div>
    <br />
    <label for="Password">Password</label>
    <input
      type="Password"
      formControlName="Password"
      id="login-password"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Password.errors }"
    />
    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
      <div *ngIf="f.Password.errors.required">*Password is required</div>
    </div>
    <br />
    <button [disabled]="loading" class="btn btn-primary">Login</button>
  </div>
</form>
