<h2>Student Registration</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="RollNo">Roll Number</label>
    <input
      type="number"
      formControlName="RollNo"
      name="RollNo"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.RollNo.errors }"
    />
    <div *ngIf="submitted && f.RollNo.errors" class="invalid-feedback">
      <div *ngIf="f.RollNo.errors.required">*Rollnumber is required</div>
    </div>
    <br />
    <label for="FirstName"> First Name</label>
    <input
      type="text"
      formControlName="FirstName"
      name="FirstName"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }"
    />
    <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
      <div *ngIf="f.FirstName.errors.required">*FirstName is required</div>
    </div>
    <br />
    <label for="LastName"> Last Name</label>
    <input
      type="text"
      formControlName="LastName"
      name="LastName"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }"
    />
    <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
      <div *ngIf="f.LastName.errors.required">*LastName is required</div>
    </div>
    <br />
    <label for="Address"> Address</label>
    <input
      type="text"
      formControlName="Address"
      name="Address"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Address.errors }"
    />
    <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
      <div *ngIf="f.Address.errors.required">*Address is required</div>
    </div>
    <br />
    <label for="MobileNumber">MobileNumber</label>
    <input
      type="text"
      formControlName="MobileNumber"
      name="MobileNumber"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.MobileNumber.errors }"
    />
    <div *ngIf="submitted && f.MobileNumber.errors" class="invalid-feedback">
      <div *ngIf="f.MobileNumber.errors.required">
        *MobileNumber is required
      </div>
      <div *ngIf="f.MobileNumber.errors.minlength">
        *Enter a valid mobile number
      </div>
      <div *ngIf="f.MobileNumber.errors.maxlength">
        *Enter a valid mobile number
      </div>
    </div>
    <br />
    <label for="Email">Email</label>
    <input
      type="text"
      formControlName="Email"
      name="Email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"
    />
    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
      <div *ngIf="f.Email.errors.required">*Email is required</div>
      <div *ngIf="f.Email.errors.email">*Enter a valid email address</div>
    </div>
    <br />
    <label for="Password">Password</label>
    <input
      type="Password"
      formControlName="Password"
      name="Password"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Password.errors }"
    />
    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
      <div *ngIf="f.Password.errors.required">*Password is required</div>
      <div *ngIf="f.Password.errors.minlength">
        *Password must be at least 6 characters
      </div>
    </div>
    <br />
    <button [disabled]="loading" name="button" class="btn btn-primary rbutton">
      Submit
    </button>
    <a [routerLink]="['/api/login.php']" class="btn btn-primary lbutton"
      >Login</a
    >
  </div>
</form>
