<h2>Welcome to the Student Panel</h2>
<form [formGroup]="semForm">
  <div class="form-group">
    <label for="Department"> Enter Department</label>
    <select
      class="custom-select"
      (change)="changeDepartment($event)"
      formControlName="Department"
    >
      <option value="" disabled></option>
      <option *ngFor="let department of Department" [ngValue]="department">{{
        department
      }}</option>
    </select>
    <div *ngIf="submitted && f.Department.errors" class="invalid-feedback">
      <div *ngIf="f.Department.errors.required">*Required</div>
    </div>
    <br />
    <label for="Semester"> Enter Current Semester</label>
    <input
      type="number"
      formControlName="Semester"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Semester.errors }"
    />
    <div *ngIf="submitted && f.Semester.errors" class="invalid-feedback">
      <div *ngIf="f.Semester.errors.required">*Required</div>
    </div>
    <br />
    <div class="btn-group">
      <button
        [disabled]="loading"
        class="btn btn-primary"
        (click)="onSubmit('Current')"
      >
        View Current
      </button>
      <button
        [disabled]="loading"
        class="btn btn-primary"
        (click)="onSubmit('Completed')"
      >
        View Completed
      </button>
      <button
        [disabled]="loading"
        class="btn btn-primary"
        (click)="onSubmit('Upcoming')"
      >
        View Upcoming
      </button>
    </div>
    <button class="btn btn-primary" (click)="logout()">Logout</button>
    <button class="btn btn-primary" (click)="editProfile()">Edit Profile</button>
  </div>
</form>
